

.contacts-page {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.contact-grid-container {
	margin: 20px 10px 200px 10px;
    border: 1px solid black;
    box-shadow: #C8D2D5 6px 6px;
    margin-top: 5%;
    padding: 30px 50px;
}

.contact-grid {
	display: flex;
  	flex-wrap: wrap;
  	flex-direction: column;
	max-width: 70vw;
}

.line {
	width: 100%;
	height: 1px;
	border-bottom: 1px solid gray;
}

.contact-grid-row, .contact-grid-header {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: 100%;
	margin: 15px 20px;
}

.contact-grid-element, .contacts-title {
	margin: 0px 120px 0px 0px;
}

.contacts-title {
	font-size: 1.2em;
	margin-right: 130px;
}

.contact-grid-element {
	font-size: 0.9em;
}

.contact-email {
	background-color: #C8EAEF;
	padding: 3px 6px;
}


