/*Glyphs*/

@import url("/src/res/Values.css");

.outer-box {
  background-color: white;
  border: solid var(--light-grey) 1px;
  display: flex;
  flex-direction: column;
  margin-bottom: 5%;
  padding: 0px 60px;
  width: 80%;
}

.scorecard {
  position: relative;
  width: 90%;
  margin: 0 auto;
  text-align: justify;
}

.scorecard-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 10px;
  padding-top: 50px;
  margin-top: 10px;
  width: 100%;
}

.glyph {
  margin: 0px;
  padding: 3px;
  width: 100px;
  height: 100px;
}

.scorecard-container svg {
  overflow: visible;
}

.not_implemented {
  fill: var(--dusty-pink);
  stroke: var(--dusty-pink);
}

.fully_implemented {
  fill: var(--teal);
}

.partially_implemented {
  fill: var(--blue-3);
}

.status_unknown {
  fill: var(--light-grey);
}

.glyph-titles {
  font-size: .7em;
}

.tooltip { 
  position: absolute;     
  text-align: center;     
  width: 130px;       
  height: 50px;         
  padding: 5px; 
  color: white;      
  font: 14px Arial;    
  background: var(--teal); 
  border: 0px;    
  border-radius: 4px;  
  visibility: hidden;
  z-index: 10;  
}

#checkboxes {
  width: 200px;
  z-index: 400;
  margin-left: 5px;
}

.dropdown-check-list {
  font-size: .9em;
  margin: 30px 14px 0px 0px;
  max-height: 30px;
  display: inline-block;
  background: white;
}

.dropdown-check-list .anchor {
  position: relative;
  cursor: pointer;
  display: inline-block;
  padding: 5px 80px 5px 0px;
}

.dropdown-check-list .anchor:after {
  position: absolute;
  content: "";
  border-left: 2px solid black;
  border-top: 2px solid black;
  padding: 5px;
  right: 2px;
  top: 20%;
  -moz-transform: rotate(-135deg);
  -ms-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
  transform: rotate(-135deg);
}

.anchor:after {
  width: 0.05em;
}

.dropdown-check-list .anchor:active:after {
  top: 21%;
}

.dropdown-check-list ul.items {
  padding: 2px;
  display: none;
  margin: 0;
  border-top: none;
}

.dropdown-check-list ul.items .filter-check {
  list-style: none;
}

ul.items {
  max-width: 200px;
  white-space: wrap;
  background: white;
}

