
@import url("/src/res/Values.css");

.legend-implemented {
  fill: var(--teal);
}

.legend-nonimplemented {
  fill: var(--dusty-pink);
}

.legend-unknown {
  fill: var(--light-grey);
}

.legend-title {
  margin: 3px;
  white-space: nowrap;
}

.legend-container {
  transform: translateY(20%);
  padding-left: 30px;
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  text-align: left;
}

.legend-labels {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  text-align: left;
}