:root {
  --light-blue: #61dafb;
  --cyan-medium: #3595AC;
  --cyan-light: #75BDCF;
  --cyan-lighter: #C8EAEF;
  --cyan-lightest: #D9F2F5;
  --teal: #0e7088;
  --dusty-pink: #C29FA1;
  --dark-grey: #363D3F;
  --medium-grey: #a1a1a1;
  --light-grey: #bdbdbd;
  --lightest-grey: #dce3e6;
  --off-white: #C8D2D5;
  --light-off-white: #EBF1F2;
}
