:root {
  --dark-blue: #3A62B0;
  --blue-1: #9EBDFB;
  --blue-2: #6991E0;
  --blue-3: #4B73DB;
  --dark-blue: #3A62B0;
  --light-blue: #C7DAFF;
  --lighest-blue: #DCE8FF;
  --cyan-medium: #3595AC; 
  --cyan-light: #75BDCF;
  --cyan-lighter: #C8EAEF;
  --cyan-lightest: #D9F2F5;
  --teal: #0e7088;
  --bright-pink: #FFDCDC;
  --dusty-pink: #C29FA1;
  --dark-grey: #363D3F;
  --medium-grey: #a1a1a1;
  --light-grey: #bdbdbd;
  --lightest-grey: #dce3e6;
  --dark-off-white: #8892A4; 
  --off-white: #D0D4DF;
  --light-off-white: #EBEDF2;
}