
@import url("/src/res/Values.css");


.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: black;

}

.App-link {
  color: var(--light-blue));
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.teal-section-container {
  background-size: cover;
  position: relative;
  min-height: 50vh;
  width: 100%;
}

.teal-section {
  background-image: url("res/teal1.png");
  min-height: 50vh;
  filter: brightness(65%) saturate(55%);
}

.content-sidenav-container {
  display: flex;
  flex-direction: row;
}

.content {
  width: 88vw;
  margin-left: 5vw;
  align-items: center;
}

.sidenav {
  padding-top: 30vh;
  height: 100%;
  width: 12vw;
  position: sticky;
  position: -webkit-sticky;
  top: 30px;
  z-index: 1;
  left: 1vw;
  margin-left: 0px;
  overflow-x: hidden;
  padding-top: 20px;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 15px;
  color: var(--teal);
  display: block;
}

html {
  scroll-behavior: smooth;
}

.sidenav a:hover {
  color: var(--cyan-medium);
}

.header-subtitle, .title {
  position: absolute;
  top: 30%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -60%);
  color: white;
}

.title {
  margin-top: 80px;
}

.landing-page {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.filter-box {
  background-color: var(--off-white);
  border: solid var(--light-grey) 1px;
  font-size: 16px;
  padding: 20px 60px;
  margin-top: 5%;
  display: flex;
  flex-direction: row;
  width: 80%;
  font-size: medium;
}

.filter-label {
  display: flex;
  flex-direction: row;
  margin: 0px 5px;
  font-size: 14px;
  align-content: flex-start;
  text-align: left;
}

.circle-label {
  fill: white;
  text-anchor: middle;
  dy: 0.35em;

}

.circle-label {
  fill: white;
  text-anchor: middle;
  z-index: 3;
}

.sort-label {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin: 5px;
}

.sort-title {
  margin-bottom: 5px;
}


#implementation-div {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-auto-rows: 1fr;
  grid-row-gap: 20px;
  width: 90%;
}

#introduction-container {
  margin-right: 15%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  text-align: left;
  min-height: 30vh;
}

.subtitle-container {
    margin-right: 15%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    text-align: center;
}

.introduction-text,  .conclusion-text {
  margin-top: 30px;
  margin-right: 7vw;
  margin-left: 7vw;
  font-size: .75em;
}

.conclusion-text {
  text-align: left;
  width: 60%;
  background: var(--light-off-white);
  padding: 50px 70px;
}

.column {
  float: left;
  width: 40%;
  margin: 0px 30px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.vary-block {
  background-color: var(--cyan-lightest);
  height: 80%;
  width: 85%;
  margin: auto;
}

.vary-header {
  font-size: 36px;
  font-weight: normal;
  color: var(--dark-grey);
  width: 80%;
  text-align: left;
  margin: auto;
  margin-top: 9%;
  margin-bottom: 2%;
}

.vary-text {
  width: 80%;
  text-align: left;
  margin: auto;
}

.sort-boxes {
  margin: auto;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex: 2;

}

.filter-check{
  margin: auto;
  margin: 4px 6px;
}

.checkboxes {
  margin: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-content: flex-start;
  flex: 1;
  padding: 5px;
}

select {
  border: none;
  padding: 5px;
}

.introduction-title {
  border: solid var(--medium-grey) 1px;
  font-size: 1.5em;
  font-weight: normal;
  display: inline;
  padding: 7px;
  padding-right: 15px;
  padding-left: 15px;
  box-shadow: 5px 5px var(--dusty-pink);
}

.playbook-region-header{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  align-content: flex-start;
  align-items: baseline;
  padding: 2%;
}

.searchbar{
  width: 40%;
  padding: 1%;
  height: 0.5%;
  margin-left: 5%
}

#state-by-state-area {
  padding: 0px 60px;
  width: 80%;
}

.admin-space {
  display: flex;
  flex-direction: column;
  width: 90%;
  text-align: left;
  padding-left: 5%;
  padding-bottom: 5%;
}

.admin-input-area{
  margin-top: 2%;
  display: flex;
  flex-direction: column;
}

.admin-practice-area{
  border: 3px solid black;
  margin-top: 2%;
  margin-bottom: 2%;
  padding: 2%;
  padding-top: 0%;
  width: 80%;
}

.admin-input-line{
  width: 20%;
  font-size: medium;
}

.admin-counter{
  display: flex;
  flex-direction: row;
  padding-left: 5%
}

.admin-input-text{
  width: 50%;
}

.admin-submit-button{
  width: 20%;
  height: 60px;
  background: grey;
  color: white;
}

.admin-submit-button:active{
  background: black;
}
.filter-titles{
  text-align: left;
  margin-bottom: 10px;
}

h4 {
  margin-top: 0;
  margin-bottom: 10px;
}

h2 {
  margin-top: 0;
  margin-bottom: 5px;
}

h5 {
  font-weight: normal;
  margin-top: 35px;
  margin-bottom: 5px;
  font-size: 18px;
  text-align: left;
}

.right-header {
  min-width: 10vw;
  margin-top: 6%;
  margin: 10px;
}

#page-toggle {
    height: 8vh;
    background-color: white;
    box-shadow: 0px 3px 3px 0px var(--light-grey);
    z-index: 10;
    padding: 0vh 12vw;
}

.selected-issue {
    color: #0E7088;
    margin: auto;
    font-size: 16pt;
    border: 0;
    background: white;
    padding: 0px 15px;
    height: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    
}

.selected-issue:focus{
    border: 0;
    outline: 0;
}
    .selected-issue:hover {
        text-decoration: underline;
    }


.deselected-issue {
    color: black;
    margin: auto;
    font-size: 16pt;
    border: 0;
    background: white;
    padding: 0px 15px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

    .deselected-issue:focus {
        border: 0;
        outline: 0;
    }

.deselected-issue:hover {
    text-decoration: underline;
}