.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  min-height: 200vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: black;

}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.teal-section-container {
  background-size: cover;
  position: relative;
  min-height: 50vh;
  width: 100%;
}

.teal-section {
  background-image: url("res/teal1.png");
  min-height: 50vh;
  filter: brightness(65%) saturate(55%);
}

.content-sidenav-container {
  display: flex;
  flex-direction: row;
}

.content {
  width: 88vw;
  margin-left: 5vw;
  align-items: center;
}

.sidenav {
  padding-top: 30vh;
  height: 100%;
  width: 12vw;
  position: sticky;
  position: -webkit-sticky;
  top: 30px;
  z-index: 1;
  left: 1vw;
  margin-left: 0px;
  overflow-x: hidden;
  padding-top: 20px;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 15px;
  color: #0E7088;
  display: block;
}

.sidenav a:hover {
  color: #3e9cb3;
}

.header-subtitle, .title {
  position: absolute;
  top: 30%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -60%);
  color: white;
}

.title {
  margin-top: 80px;
}

.filter-box {
  margin-top: 100px;
  display: flex;
  flex-direction: row;
  width: 100%;
  background-color: #dce3e6;
  border: solid #bdbdbd 1px;
  font-size: 16px;
  padding: 20px 60px;
}

.landing-page {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.filter-box {
  margin-top: 5%;
  display: flex;
  flex-direction: row;
  width: 80%;
  font-size: medium;
}

.filter-label {
    display: flex;
    flex-direction: column;
    margin: 0px 5px;
    font-size: 14px;
    align-content: center;
    text-align: center;
    
}

.sort-label {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin: 5px;
}


#implementation-div {
    display: grid;
    grid-template-columns: auto auto;
    grid-auto-rows: 1fr;
}

#introduction-container {
  margin-right: 15%;
  margin-left: 15%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 70vh;
}

#introduction-text {
  font-size: .7em;
}

#conclusion-text {
  font-size: .7em;
}

.vary-block {
    background-color: #D9F2F5;
    height: 80%;
    width: 85%;
    margin: auto;

}

.vary-header {
    font-size: 36px;
    font-weight: normal;
    color: #363D3F;
    width: 80%;
    text-align: left;
    margin: auto;
    margin-top: 9%;
    margin-bottom: 2%;
}

.vary-text {
    width: 80%;
    text-align: left;
    margin: auto;
}

.sort-boxes {
    margin: auto;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex: 2;

}

.filter-check{
    margin: auto;
    margin-top: 10px;
}

.checkboxes {
    margin: auto;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex: 1;
}

select {
  border: none;
  padding: 5px;
}

.introduction-title {
  border: solid #a1a1a1 1px;
  font-size: 1.5em;
  font-weight: normal;
  display: inline;
  padding: 7px;
  padding-right: 15px;
  padding-left: 15px;
  box-shadow: 5px 5px #ccb6c5;
}

.playbook-region-header{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  align-content: flex-start;
  align-items: baseline;
  padding: 2%;
}

.searchbar{
  width: 40%;
  padding: 1%;
  height: 0.5%;
  margin-left: 5%
}

#state-by-state-area {
  width: 75%;
  justify-self: center;
}

.filter-titles{
    text-align: left;
    margin-bottom: 0px;
}

h4 {
    margin-top: 0;
    margin-bottom: 10px;
}

h2 {
    margin-top: 0;
    margin-bottom: 0;
}

h5 {
    font-weight: normal;
    margin-top: 0px;
    margin-bottom: 5px;
    font-size: 18px;
    text-align: left;
}

.right-header {
    margin-top: 6%;
    margin: auto;
    padding-left: 10px;
}