.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  min-height: 200vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: black;

}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.teal-section {
  background-image: url("res/teal1.png");
  margin: 0;
  padding: 0;
  min-height: 50vh;
  width: 100%;
  background-size: cover;
  filter: brightness(65%) saturate(55%);
}

.filter-box {
  margin-top: 100px;
  display: flex;
  flex-direction: row;
  width: 100%;
  background-color: #dce3e6;
  border: solid #bdbdbd 1px;
  font-size: 16px;
  padding: 60px;
}

.landing-page{
  width: 100%;
}

.filter-check{
  width: 10%;
}

.filter-label {
    /*flex: 1;*/
  padding: 3px;
}

.sort-boxes .checkboxes {
  width: 90%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

select {
  border: none;
  padding: 5px;
}

h1 {
  border: solid #a1a1a1 1px;
  font-size: 1.5em;
  font-weight: normal;
  display: inline;
  padding: 7px;
  padding-right: 15px;
  padding-left: 15px;
  box-shadow: 5px 5px #ccb6c5;
}
