@import url("/src/res/Values.css");

.top-info{
    display: flex;
    flex-direction: row;
}

.diamond-area {
    display: flex;
    flex-direction: row;
    margin-top: 1%;
}
.diamond-filled {
    width: 0;
    height: 0;
    border: 15px solid transparent;
    border-bottom: 25px solid var(--cyan-medium);
    position: relative;
    top: -15px;
    margin-left: 2px;
    margin-right: 2px;
    color: white;
    text-align: center;
}

    .diamond-filled:after {
        content: '';
        position: absolute;
        left: -15px;
        top: 25px;
        width: 0;
        height: 0;
        border: 15px solid transparent;
        border-top: 25px solid var(--cyan-medium);
        justify-content: center;
        color: white;
    }

.diamond-empty {
    width: 0;
    height: 0;
    border: 15px solid transparent;
    border-bottom: 25px solid var(--cyan-lighter);
    position: relative;
    top: -15px;
    margin-left: 2px;
    margin-right: 2px;
    color: white;
}

    .diamond-empty:after {
        content: '';
        position: absolute;
        left: -15px;
        top: 25px;
        width: 0;
        height: 0;
        border: 15px solid transparent;
        border-top: 25px solid var(--cyan-lighter);
        color: white;
    }

.state-scorecard {
    border: 1px solid var(--light-grey);
    margin-bottom: 1%;
    font-size: medium;
}

.title-area {
    width: 50%;
    align-content: left;

}

.expanded-info{
    display: flex;
    flex-direction: row;
    padding-bottom: 2%;
    justify-content: center;
}

.demographics-div{
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    padding-left: 11%;
}

.population-indicator{
    background: var(--dusty-pink);
    color: white;
    margin-left: 5%;
    align-content: center;
    align-items: baseline;
    padding: 0.5%;

}

.sc-indicator{
    background: var(--dusty-pink);
    color: white;
    margin-left: 5%;
    align-content: center;
    align-items: baseline;
    padding: 0.5%;
}


.column-left{
    display: flex;
    flex-direction: column;
    width: 30%;
    color:black;
    align-items: flex-start;
    padding-left: 2%
}

.column-center{
    display: flex;
    flex-direction: column;
    width: 25%;
    color:black;
    align-items: center;
}

.column-right{
    display: flex;
    flex-direction: column;
    width: 25%;
    color: var(--cyan-medium);
    text-decoration: underline;
}

a {
    color: var(--teal);
}

.implemented-yes{
    background-color: var(--cyan-lighter);
    width: 50px;
    height: 90%;
}

.implemented-no{
    background-color: var(--bright-pink);
    width: 50px;
    height: 90%;
}

.score-percentage{
    margin: 3.5%;
    font-size: 18px;
}

.implement-block{
}