.diamond-filled {
    width: 0;
    height: 0;
    border: 15px solid transparent;
    border-bottom: 25px solid #3595AC;
    position: relative;
    top: -15px;
    margin-left: 2px;
    margin-right: 2px;
    color: white;
    text-align: center;
}

    .diamond-filled:after {
        content: '';
        position: absolute;
        left: -15px;
        top: 25px;
        width: 0;
        height: 0;
        border: 15px solid transparent;
        border-top: 25px solid #3595AC;
        justify-content: center;
        color: white;
    }

.diamond-empty {
    width: 0;
    height: 0;
    border: 15px solid transparent;
    border-bottom: 25px solid #C8EAEF;
    position: relative;
    top: -15px;
    margin-left: 2px;
    margin-right: 2px;
    color: white;
}

    .diamond-empty:after {
        content: '';
        position: absolute;
        left: -15px;
        top: 25px;
        width: 0;
        height: 0;
        border: 15px solid transparent;
        border-top: 25px solid #C8EAEF;
        color: white;
    }

.top-info{
    display: flex;
    flex-direction: row;
}

.diamond-area {
    display: flex;
    flex-direction: row;
    margin-top: 50px;
}

.state-scorecard {
    border: 2px solid black;
    margin-bottom: 20px;
}

.title-area {
    width: 60%;
}

.expanded-info{
    display: flex;
    flex-direction: row;
    padding: 10px;
    justify-content: center;
}

.column-left{
    display: flex;
    flex-direction: column;
    width: 30%;
    color:black;
    align-items: flex-start;
    padding-left: 50px;
}

.column-center{
    display: flex;
    flex-direction: column;
    width: 25%;
    color:black;
    align-items: center;
}

.column-right{
    display: flex;
    flex-direction: column;
    width: 25%;
    color:#4B9CAF;
    text-decoration: underline;
}

.implemented-yes{
    background-color: #C8EAEF;
    width: 50px;
    height: 30px;
    margin-top: 4px;
}

.implemented-no{
    background-color: #FFDCDC;
    width: 50px;
    height: 30px;
    margin-top: 4px;
}

.demographics-div{
    display: flex;
    flex-direction: row;
   padding-left: 30px;
   padding-right: 30px;
   justify-content: center;
}
